@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Mode 1 */
    /* colors */
    --accent: #b5f5ec;
    --accent-foreground: #13c2c2;
    --background: #f8fafc;
    --border: #c4dbf3;
    --card: #ffffff;
    --card-foreground: #ffffff;
    --destructive: #fecaca;
    --destructive-foreground: #dc2626;
    --foreground: #374151;
    --input: #ffffff;
    --muted: #e5e7eb;
    --muted-foreground: #1f2937;
    --popover: #ffffff;
    --popover-foreground: #ffffff;
    --primary: #1a508b;
    --primary-foreground: #f8fafc;
    --ring: #ffffff;
    --secondary: #ffc285;
    --secondary-foreground: #0d335d;
    /* numbers */
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }}

  .post-detail{
    background: var(--basic-white, #FFF);
    display: flex;
    width: 846px;
    padding: var(--spacing-10, 40px);
    border-radius: 20px;
    border: 2px solid var(--primary-400, #C4DBF3);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-8, 32px);
  }